@inherits UmbracoTemplatePage
@{
    Layout = "~/Views/Master.cshtml";

    Html.EnableClientValidation();
}
<div class="container">
    <div class="jumbotron">
        <div class="container">
            <h1>AJAX culture in Umbraco</h1>
            <p>Setting proper language and culture on AJAX request to Umbraco surface controller.</p>
            <hr />
            <p>
                <button id="get-messages"
                        class="btn btn-primary btn-lg">
                    Get messages
                </button>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>Without filter</h2>
                <h3 id="standard-message"></h3>
            </div>
        </div>
        <div class="col-md-6">
            <div class="jumbotron">
                <h2>With filter</h2>
                <h3 id="message-with-filter"></h3>
            </div>
        </div>
    </div>
</div>

@section FooterScripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var stdMsgElement = $("#standard-message");
            var msgWithFilterElement = $("#message-with-filter");

            var callAjaxButton = $("#get-messages");

            callAjaxButton.click(function () {
                callUmbracoAjax("withoutcultureFilter", function (data) {
                    getMsgCallback(stdMsgElement, data);
                });

                callUmbracoAjax("withculturefilter", function (data) {
                    getMsgCallback(msgWithFilterElement, data);
                });
            });

            function getMsgCallback(element, text) {
                element.text(text);
            }

            function callUmbracoAjax(methodName, callback) {
                $.ajax({
                    url: "/umbraco/surface/message/" + methodName,
                    type: "POST",
                    dataType: "json",
                    contentType: "application/json",
                    success: callback
                });
            }

        })
    </script>
}
