@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{ 
    var home = CurrentPage.Site();
}

<hr/>

<footer>
    <strong>My blog</strong>
    <ul>
        <li>
            <a href="http://aburok.github.io" target="_blank">My block</a>
        </li>
    </ul>
</footer>
